body {
background: url('../images/binding_dark.png');

}

#container {
    background: url('../images/tweed.png');
    margin-left: auto;
    margin-right: auto ;
    height: auto;
    width: 800px;
    color : white;
    text-align: center;
    border-style: solid;
    border-color: white; 


}
.container {
    background: url('../images/tweed.png');
    margin-left: auto;
    margin-right: auto ;
    height: auto;
    width: 800px;
    color : white;
    text-align: center;
    border-style: solid;
    border-color: white; 

}

select  {
    margin-left:20px;
}

